
<grid debug>
  <cell></cell>
  <cell></cell>
  <cell></cell>
  <cell></cell>

  <cell></cell>
  <cell></cell>
  <cell></cell>
  <cell></cell>

  <cell></cell>
  <cell></cell>
  <cell></cell>
  <cell></cell>
</grid>





<grid [rows]="{xs:10, sm:11, md:12, lg:13, xl:14}"  cols="5"  gap="xs:.1, sm:.25, md:.5, lg:1, xl:2" debug>
  <cell  position="xs:x3 y2,sm:x3 y2,md:x3 y2,lg:x3 y2,xl:x3 y2"  size="xs:1x1,sm:2x1,md:2x1,lg:3x1,xl:4x1"></cell>
  <cell  [position]="{xs:'x3 y2',sm:'x3 y2',md:'x3 y2',lg:'x3 y2',xl:'x3 y2'}"  [size]="{xs:'1x1',sm:'2x1',md:'2x1',lg:'3x1',xl:'4x1'}"></cell>
  <cell  position="x3 y2"  size="1x1"></cell>
 
  <cell></cell>
  <cell></cell>
  <cell></cell>
  <cell></cell>

  <cell></cell>
  <cell></cell>
  <cell></cell>
  <cell></cell>
  <cell></cell>
  
  <cell></cell>
  <cell></cell>
  <cell></cell>
  <cell></cell>
  <cell></cell>
</grid>

